.main-header{
  .banner{
    display:flex;
    position: relative;
    width: 100%;
    height: 80vh;
    justify-content: start;
    align-items: center;
    
    &::after{
      content:'';
      background-image: url("../images/bg_banner.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.7;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;  
    }

    .myText{
      max-width: 30%;
      min-width: 300px;
      padding-left: 2rem;
      font-size: 2rem;
      text-align: center;
    }

    .myBtn{
      border: 2px solid var(--white);
      border-radius: 60px;
      font-weight: bold;
      padding-left:2rem;
      padding-right:2rem;
      background-color: var(--blue-300);
    }
 }
}