.input-container {
  position: relative;
 
  .myLabel{
    position: absolute;
    background-color: transparent;
    color: var(--white);
    top:50%;
    left:25px;
    transform: translateY(-50%);
    font-size: 1rem;
    // padding: 0 0.4rem;
    pointer-events: none;
    transition: 0.3s ;
  }
  .myInput:focus ~ .myLabel{
    top:0;
    background-color: var(--blue-300);
  }
  .myInput{

    border: 2px solid var(--white);
    background:none;
    border-radius:25px;
    padding: 0.6rem 1.2rem;
    color: var(--white);
    font-size: 0.95rem;
    letter-spacing: 0.5px;
  }

  .myTextArea{
    min-height: 150px;
  }

}