.main-section{
  height: 90vh;
}

.main-section.-hSmall{
    height: 300px;
}

.main-section.-bgWhite {
    background-color: var(--white);
}

.main-section.-bgBlue {
    background-color: var(--blue-300);
}