.icon-friend{
  display: inline-block;
  background-image: url("../images/user-friends-solid.svg");
  background-repeat: no-repeat;
  // transform: translateY(9px);
}

.service-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .bgItem{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--blue-300);
    
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    margin-bottom: 2rem;

  }
  .item{
    width: 4rem;
    height: 4rem;
  }

  .text{
    font-size:32px;
    font-weight: 600;
  }
}