.social-icon{
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #55668d, #667FB7);
  color: var(--white);
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: .3s;
  
  &:hover{
    transform: scale(1.05);
    color: var(--white);
  }
}

// .social-icon  {
//   a{
//     width: 35px;
//     height: 35px;
//     border-radius: 5px;
//     background: linear-gradient(45deg, #55668d, #667FB7);
//     color: #fff;
//     text-align: center;
//     line-height: 35px;
//     margin-right: 0.5rem;
//     transition: .3s;
// }
// }
// .social-icon a:hover{
//     transform: scale(1.05);
// }