
@use "section-main";
@use "header-main";
@use "service-item";
@use "footer-main";
@use "about-section";

.container-fluid {
  overflow: hidden;
}

.navbar{
  background-color: var(--blue-300);
}

.navbar-brand{
  .logo{
    width: 48px;
    align-self: center;
  }
  .logoText{
    height: 38px;
  }
  span{
    color:var(--white);
    font-size: 48px;
  }
}

.navbar-light .navbar-nav .nav-link{
  color: var(--white);
  font-weight: bold;
  &:hover{
    color: var(--white);
    text-decoration: underline;
    text-decoration-color: var(--white);
    text-underline-offset: 10px;
  }
  &:focus{
    color:var(--white);
  }
}
