
@use "section-main";
@use "footer-main";
.navbar{
  background-color: var(--blue-300);
}

.navbar-brand{
  .logo{
    width: 48px;
    align-self: center;
  }
  span{
    color:var(--white);
    font-size: 48px;
  }
}

.main-header{
  .banner{
    width: 100%;
    height: 80vh;
    background-image: url("../images/default-image.jpg");
 }
}

.navbar-light .navbar-nav .nav-link{
  color: var(--white);
  font-weight: bold;
  &:hover{
    color: var(--white);
    text-decoration: underline;
    text-decoration-color: var(--white);
    text-underline-offset: 10px;
  }
  &:focus{
    color:var(--white);
  }
}
